:root {
--accent-color: #2196F3;
--primary-text-color: #757575;
--primary-title-color: #212121;
--secondary-text-color: rgba(255, 255, 255, 0.6);
--secondary-title-color: #FFFFFF;
--main-background-color: #2F303A;
--background-color: #F5F4FA;
--btn-background-color: #188CE8;
}
body {
    font-family: Roboto, sans-serif;
    
}

.list {
    list-style: none;
}



/*--------------------------------header--------------------*/
.header {
    background-color: var(--secondary-title-color);
}
.nav-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.logo {
    color: #000000;
}

.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

.contact-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.contact-link:hover, .contact-link:focus {
    color: var(--accent-color);
}

/*--------------------------hero---------------------------*/

.hero {
    background-color: var(--main-background-color);
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}

.hero-btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.hero-btn:hover, .hero-btn:focus {
color: var(--secondary-title-color);
background-color: var(--btn-background-color);
}
/*----------------------------features-------------------*/

.features {
    background-color: var(--secondary-title-color);
}

.features-title {
    visibility: hidden;
}
 
.features-title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-title-color);
}
.features-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*---------------------------about-----------------------*/

.about {
    background-color: var(--secondary-title-color);
}

.about-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

/*--------------------------team-------------------------*/

.team {
    background-color: var(--background-color);
}

.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.team-title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.team-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*-----------------------footer------------------------*/

.footer {
    background-color: var(--main-background-color);
}

.footer-logo-main {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}

.address-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    text-decoration: none;
}

.address-address:hover, .address-address:focus {
    color: var(--accent-color);
}

.address-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.address-contact:hover, .address-contact:focus {
    color: var(--accent-color);
}

/*------------------------portfolio----------*/

.portfolio {
    background-color: var(--secondary-title-color);
}

.portfolio-title {
    visibility: hidden;
}
.portfolio-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.portfolio-btn:hover, .portfolio-btn:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
}

.title-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.text-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
} 

.title-item:hover, .title-item:focus, .text-item:hover, .text-item:focus {
    color: var(--accent-color);
}

.list-link {
    text-decoration: none;
}
